<html>
   <head>
      <title>{{ title }}</title>
   </head>
   <body>
      <h4> {{ filename }} </h4>
      {% if filetype.find('image') >= 0 %}
       <img src="static{{ filename }}" alt="{{ filename }}" width="256" height="256"> 
      {% end %}

    <form method='post'>
      <input type="submit" name="del" value="Delete">
    </form> 

      <h6> Metadata: <h6>
      <ul>
        {% for m in meta %}
          <li>
            {{ escape(m) }}
          </li>
        {% end %}
     </ul>

    <form method='post'>
      <input type="text" name="key" value="Metadata Key"><br>
      <input type="text" name="val" value="Metadata Value"><br>
      <input type="submit" value="Modify">
    </form> 
   </body>
 </html>