<html>
   <head>
      <title>{{ title }}</title>
   </head>
   <body>
       <form method='post'>
          Search:<br>
          <input type="text" name="q"><br>
          Metadata Key:<br>
          <input type="text" name="k"><br>
          <input type="submit" value="Submit">
        </form> 

     <ul>
       {% for item in items %}
         {% block item %}
            <li> <a href="/{{ item['_id'] }}"> {{ escape(item['name']) }} </a></li>
         {% end %}
       {% end %}
     </ul>
   </body>
 </html>